.footer{
    text-align: center;
    background-image: url(../../public/images/fondo.png);
    padding: 40px;
    margin-top: 30px;
}

.copyright{
    color: #f6f6f6;
    font-size: 13px;
    margin: 20px;
}