.nav{
    font-family: "Bebas neue";
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    padding: 20px;
    background-color: #f6f6f6;
    color: #2d2d2d;
    background: linear-gradient(#f6f6f6, #d1d1d1);
    margin-bottom: 20px;
}

.logo{
    width: 170px;
    justify-content: center;
}

.navOpen{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Bebas neue";

    background-image: url(../../public/images/busto_oscura_fondo_nav.png); 
    background-size: cover;
    background-position: center;
    transition: 0.3s;
    position: fixed;
}

.logoOpen{
    width: 150px;
    animation-name: animationLogo;
    animation-duration: 1s;
}

.navOnScroll{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #f6f6f6;
    position: fixed;
    width: 100%;
    padding: 3px;
    transition: 0.3s;
    background: linear-gradient(#f6f6f6, #d1d1d1);
    margin-bottom: 20px;
    font-family: "Bebas neue";
}

.logoOnScroll{
    width: 50px;
    justify-content: center;
}

.navLink{
    font-size: 22px;
    font-weight: bold;
    color: #f6f6f6;
    text-align: center;
    padding-top: 15px;
    font-size: 25px;
}

.navLink:hover{
    color: #E69804;
    text-decoration: underline;
    cursor: pointer;
    font-size: 1.5em;
    transition: 0.1s;
}

.border{
    display: flex;
    height: 1px;
    animation-name: animationBorder;
    animation-duration: 1s;
    background-color: #E69804;
}







/* +---------------------------------+ */







@keyframes animationBorder {
    0%{
        width: 0%;
    }    

    100%{
       width: 100%;
    }
}

@keyframes animationLogo {
    0%{
        height: 0%;
    }    

    100%{
        height: 100%;
    }
}




/* +---------------------------------+ */







@media (min-width : 800px){
    .nav {
        align-content: center;
        align-items: center;
    }
    .linksContainer{
        display: flex;
        flex-direction: row;
    }
    .border{
        height: 0%;
    }
    .navLink{
        color: #2d2d2d;
        padding-left: 15px;
    }
    .navOnScroll{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: #f6f6f6;
    }
}

@media (max-width : 800px){
    .nav{
        flex-direction: column;
    }
    .logo{
        padding-bottom: 35px;
    }
    .navOpen{
        text-align: center;
    }
}